<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="ReactJsSanityTest.TC05_TodaysDealTest"/>
      <class name="ReactJsSanityTest.TC02_LogOutTest"/>
      <class name="ReactJsSanityTest.TC08_SearchTest"/>
      <class name="ReactJsSanityTest.TC06_FurnitureAddItemToBagTest"/>
      <class name="ReactJsSanityTest.TC01_LoginTest"/>
      <class name="ReactJsSanityTest.TC04_RegisterNewOnlineProfileTest"/>
      <class name="ReactJsSanityTest.TC07_FurnitureCollectFromStoreTest"/>
      <class name="ReactJsSanityTest.TC03_OurBestOffersForYouShowMeAllTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
