<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="ReactJsSanityTest.TC02_LoginTest"/>
      <class name="ReactJsSanityTest.TC20_CancelOrderTest"/>
      <class name="ReactJsSanityTest.TC12_RemoveItemsFromBagTest"/>
      <class name="ReactJsSanityTest.TC08_SearchTest"/>
      <class name="ReactJsSanityTest.TC18_ContinueShoppingTest"/>
      <class name="ReactJsSanityTest.TC19_CheckStoreTest"/>
      <class name="ReactJsSanityTest.TC10_FurnitureAddItemToBagTest"/>
      <class name="ReactJsSanityTest.TC06_TodaysDealTest"/>
      <class name="ReactJsSanityTest.TC01_ViewBagTest"/>
      <class name="ReactJsSanityTest.TC15_CleanItemsFromBagTest"/>
      <class name="ReactJsSanityTest.TC09_SitewideBagTest"/>
      <class name="ReactJsSanityTest.TC16_AddItemToWishListTest"/>
      <class name="ReactJsSanityTest.TC05_RegisterNewOnlineProfileTest"/>
      <class name="ReactJsSanityTest.TC17_InstallmentCalcTest"/>
      <class name="ReactJsSanityTest.TC03_LogOutTest"/>
      <class name="ReactJsSanityTest.TC04_OurBestOffersForYouShowMeAllTest"/>
      <class name="ReactJsSanityTest.TC13_PargoPickupPoint_E2ETest"/>
      <class name="ReactJsSanityTest.TC11_UpdateQtyTest"/>
      <class name="ReactJsSanityTest.TC14_BrandFilterTest"/>
      <class name="ReactJsSanityTest.TC07_FurnitureCollectFromStoreTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
